:root {
    --main-color: #1674aa;
    --second-color: #571d8d;
    --text-color-Main: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Tilt Neon', cursive;
}

header {
    width: 80vw;
    margin: 1.10rem auto;
}

.hide {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar .right .nav-header {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.4s ease-in-out;
}

.navbar .right .nav-header:hover {
    font-size: 25px;
}

.navbar h1 {
    font-size: 1.50rem;
    color: var(--second-color);
}

.selected {
    border-bottom: 2.5px solid var(--second-color);
    border-right: 2.3px solid var(--main-color);
    padding-right: 8px;
    padding-bottom: 5px;
}

.container-hero {
    width: 80vw;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.buttons {
    margin-top: 25px;
}

.btn-hero {
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 0 7px;
    background-color: var(--second-color);
    color: var(--text-color-Main);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-hero:hover {
    transform: scale(1.2);
}

@media (min-width: 500px) {
    .hide {
        display: inline-block;
    }

    .nav-header,
    .hide {
        font-size: 20px;
    }

    .hero-picture {
        width: 350px;
        height: 350px;
        padding-bottom: 15px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 310px;
    }

    .btn-hero {
        margin: 10px 0 0 45px;
    }
}